@tailwind base;
@tailwind components;
@tailwind utilities;
@layer {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  .main--bg {
    background-image: url("./images/heroBg.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
}

* {
  @apply m-0 p-0 box-border no-underline;
}

html {
  @apply scroll-smooth;
}

body {
  font-family: "Roboto", sans-serif;
}

.nav--list {
  @apply flex items-center gap-5 text-base 2xl:text-lg;
}

.nav--list-mobile {
  @apply flex-col items-start;
}

.nav--list-desk {
  @apply text-sm flex-row;
}

.nav--list-item-mobile {
  /* w-full text-center  border-2 border-b-black rounded p-1 w-[calc(100vw-6rem)] */
  @apply mt-2 border-b-2 cursor-pointer;
}

.nav--list-item-desk {
  @apply w-fit border-none p-0;
}

.btn {
  @apply w-fit px-5 py-2 font-normal text-base text-[#3C4043];
}

.btn--offer {
  @apply px-5 py-1 font-normal text-xs 2xl:text-base;
}

.btn--border {
  @apply border-2 border-solid border-[#3C4043] rounded;
}

.slider {
  @apply overflow-scroll no-scrollbar;
}

.section {
  @apply w-full h-screen;
}

/* Burger */

.menu--line {
  @apply w-full h-[0.16rem] bg-black rounded-sm transition-all;
}

.line1 {
  transform: rotatez(45deg) translate(0.3rem, 0.3rem);
}

.line2 {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s, visibility 0.3s;
}

.line3 {
  transform: rotatez(-45deg) translate(0.3rem, -0.3rem);
}
